// 믹스업
@mixin flex(
  $direction: row,
  $justify: start,
  $align: stretch,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

section {
  @include flex($justify: center, $align: center, $wrap: wrap, $gap: 20px);
  padding: 20px 40px;
}
